<div class="productmodule_section1">
	<img src="https://startprotectingyourfuture.com/AMBMaster/img/icon_add.png" style="width: 101px; height: 61px">
</div>
<div class="productmodule_section2">
	<div class="product-module__top">
		<h3><span class="variable-value">{{add_val}}</span> Insurance</h3>
		<p>Apply for an affordable way to provide extra protection for your family if you suffer a covered loss.</p>
	</div>
	<div class="product-module__bottom">
		<div class="product-module__cta-button">
			<a href="add.html" class="btn-brand-2nd" target="_self" role="button">Learn More </a>
		</div>
	</div>
</div>