<div class="product-row__tile--img-tile__text--left">
	<div>
		<div class="product-row__tile__promo">
			<div class="white">Applying can be simple</div>
		</div>
		<p><span class="white">Sign up online or call one of our experts for help with enrollment today:</span> <nobr><a ng-href="tel:{{contact_num}}" class="variable-value variable-value__phone-link-white">{{contact_num}}</a></nobr></p>
	</div>
</div>
<div class="banner2x-btn-align product-row__tile--img-tile__text--right"> 
	<a href="" class="btn-brand-4th table" id="auto-insurance_banner-tile_content-link" target="_blank" role="button">Apply Now </a>
</div>