<div class="productmodule_section1">
	<img src="https://startprotectingyourfuture.com/AMBMaster/img/icon_overhead.png" style="width: 76px; height: 69px">
</div>
<div class="productmodule_section2">
	<div class="product-module__top">
		<h3><span class="variable-value">{{boe_val}}</span> Overhead Expense Insurance</h3>
		<p>Help keep your business running by paying your share of your firm’s overhead expenses if you are unable to work due to a covered disability.</p>
	</div>
	<div class="product-module__bottom">
		<div class="product-module__cta-button">
			<a href="boe.html" class="btn-brand-2nd" target="_self" id="insurance_tile-0_content-buttonLink" role="button">Learn More </a>
		</div>
	</div>
</div>