<div class="productmodule_section1">
	<img src="https://startprotectingyourfuture.com/AMBMaster/img/icon_dental.png" style="width: 88px; height: 88px">
</div>
<div class="productmodule_section2">
	<div class="product-module__top">
		<h3>Dental Insurance</h3>
		<p>Enjoy savings of up to 45% on covered services for you and your family when you use an in-network dentist.<sup>1</sup></p>
	</div>
	<div class="product-module__bottom">
		<div class="product-module__cta-button">
			<a href="dental.html" class="btn-brand-2nd" target="_self" role="button">Learn More </a>
		</div>
	</div>
</div>