<div class="productmodule_section1">
	<img src="https://startprotectingyourfuture.com/AMBMaster/img/icon_disability.png" style="width: 78px; height: 78px">
</div>
<div class="productmodule_section2">
	<div class="product-module__top">
		<h3>Disability Insurance</h3>
		<p>Help preserve your lifestyle with a monthly payment if you find yourself unable to work due to a covered disability.</p>
	</div>
	<div class="product-module__bottom">
		<div class="product-module__cta-button">
			<a href="disability.html" class="btn-brand-2nd" target="_self" id="insurance_tile-0_content-buttonLink" role="button">Learn More </a>
		</div>
	</div>
</div>