<div class="global-header__row row wrapper">
	<div class="global-header__left">
		<a href="landing.html" class="img-link">
			<img src="https://startprotectingyourfuture.com/AMBMaster/img/MetLife_Header_Logo.png" alt="MetLife" class="global-header__logo global-header__logo-metlife img-responsive">
		</a>
	</div>
	<div class="global-header__right">
		<a href="landing.html">
			<img src="https://startprotectingyourfuture.com/AMBMaster/img/XYZ.png" alt="XYZ" class="global-header__logo global-header__logo-sponsor img-responsive">
			<img src="https://startprotectingyourfuture.com/AMBMaster/img/XYZ.png" alt="XYZ" class="global-header__logo global-header__logo-sponsor img-responsive">
		</a>
	</div>
</div>