<div class="productmodule_section1">
	<img src="https://startprotectingyourfuture.com/AMBMaster/img/icon_life.png" style="width: 74px; height: 65px">
</div>
<div class="productmodule_section2">
	<div class="product-module__top">
		<h3>Life Insurance</h3>
		<p>Help ensure your family can meet all their short- and long-term financial obligations in case of the unexpected.</p>
	</div>
	<div class="product-module__bottom">
		<div class="product-module__cta-button">
			<a href="life.html" class="btn-brand-2nd" target="_self" role="button">Learn More </a>
		</div>
	</div>
</div>