<div data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
	<div class="container subnav-min__button">
		<div class="row wrapper">Home</div>
	</div>
</div>
<div class="collapse" id="collapseExample">
	<div class="container subnav-min__menu">
		<div class="row wrapper">
			<ul class="subnav-min__items">
				<li class="subnav-min__item">
					<a class="subnav-min__link" href="landing.html">Home</a>
				</li>
				<li class="subnav-min__item">
					<a class="subnav-min__link" href="life.html">Life</a>
				</li>
				<li class="subnav-min__item">
					<a class="subnav-min__link" href="add.html">{{add_val}}</a>
				</li>
				<li class="subnav-min__item">
					<a class="subnav-min__link" href="dental.html">Dental</a>
				</li>
				<li class="subnav-min__item">
					<a class="subnav-min__link" href="disability.html">Disability</a>
				</li>
				<li class="subnav-min__item">
					<a class="subnav-min__link" href="boe.html">{{boe_val}} Overhead Expense</a>
				</li>
				<li class="subnav-min__item">
					<a class="subnav-min__link" href="vision.html">Vision</a>
				</li>
			</ul>
		</div>
	</div>
</div>