<div class="container">
	<div class="row wrapper">
		<div class="homepage-nav">
			<ul class="homepage-nav__items">
				<li class="hompage-nav__item">
					<a ng-class="landingLinkActive" class="homepage-nav__link" href="landing.html">Home</a>
				</li>
				<li class="hompage-nav__item">
					<a ng-class="lifeLinkActive" class="homepage-nav__link" href="life.html">Life</a>
				</li>
				<li class="hompage-nav__item">
					<a ng-class="addLinkActive" class="homepage-nav__link" href="add.html"><span class="variable-value">{{add_val}}</span></a>
				</li>
				<li class="hompage-nav__item">
					<a ng-class="dentalLinkActive" class="homepage-nav__link" href="dental.html">Dental</a>
				</li>
				<li class="hompage-nav__item">
					<a ng-class="disabilityLinkActive" class="homepage-nav__link" href="disability.html">Disability</a>
				</li>
				<li class="hompage-nav__item">
					<a ng-class="boeLinkActive" class="homepage-nav__link" href="boe.html"><div><span class="variable-value">{{boe_val}}</span> Overhead Expense</div></a>
				</li>
				<li class="hompage-nav__item">
					<a ng-class="visionLinkActive" class="homepage-nav__link" href="vision.html">Vision</a>
				</li>
			</ul>
		</div>
	</div>
</div>